%table
  - operations.each do |operation|

    %tr
      %th{ :colspan => 8}
        = operation.description

    %tr
      - [:sambamba, :samtools].each do |tool|
        %th{ :colspan => 4, :width => '50%'}
          = operation.send(tool).command_line

    %tr
      - 2.times do
        %th Configuration
        %th Time
        %th Memory usage
        %th CPU load

    - operation.sambamba.results.length.times do |i|
      %tr
        - [:sambamba, :samtools].map{|tool| operation.send(tool).results[i] }.each do |result|
          %td 
            = result.configuration.cpu
          %td 
            = result.time_elapsed.to_s + 's'
          %td 
            = result.peak_memory_usage.to_s + 'MB'
          %td 
            = result.average_cpu_load.to_s + '%'


